* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Lato';

}


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {

    --cor-fundo: #951717;

}

body {
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Lato';
}

.carrinho {
    width: 352px;
    height: min-content;
    padding: 35px;
    background-color: #F5F5F5;
}

.carrinho .cabecalho-carrinho {

    display: flex;
    align-items: center;



}

.carrinho .cabecalho-carrinho button {

    cursor: pointer;
    font-size: 3em;
    background-color: #F5F5F5;
    line-height: 25%;

}

.carrinho .cabecalho-carrinho h3 {
    margin-left: 15px;
    font-family: 'lato';
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.83px;
    text-align: left;

}

.carrinho .carrinho-item {
    position: relative;
    width: 100%;
    margin: 30px 0 ;
    background-color: #fff;
    box-shadow:0px 1px 5px rgb(0 0 0 / 16%);
}

.carrinho .carrinho-item .imagem {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(252, 252, 12, 0.748);
}

.carrinho .carrinho-item img {
    width: 90%;
}

.carrinho .carrinho-item .info {
    
}

