@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
}

body {
   background-color: #F5F5F5;
   font-family: 'Lato, san-serife';
}


header {
    background-color: white;
    box-shadow: 0px -5px 7px rgb(0 0 0 / 71%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    margin: 0px;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    width: 50.98px;
    height: 56px;
    top: 16px;
    left: 1469.47px;
}
/* Logo */
/* Menu */

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    align-items: center;
    margin-left: 44px;

}

nav ul li a {
    
    text-decoration: none;
    margin: 15px;
    color: black;
    font-size: 18px;
    line-height: 24px; 


}

nav ul li a:hover {
   color:rgb(93, 212, 131);

}

/* Menu */

/* Banner */

.banner {
    display: flex;
    justify-content: center;
    margin: 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Banner */

/* Caixa (1) */

.vinho {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    width: 380px;
    height: 210px;
    box-shadow:0px 1px 5px rgb(0 0 0 / 16%);
    margin: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

/* Caixa (1) */

/* Bloco (1) */

.blocogeral {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

/* Bloco (1) */

.vinho img {
    width: 133px;
    height: 200px ;
}


.dadosvinho {
    line-height: 31px;
    
}

.blocointerno {
    text-align: left;
}


.inforvinho {
    font-family: 'Lato', sans-serif;
    line-height: 16px;
    text-align: left;
    margin-left: 70px;
    box-sizing: border-box;

}

.inforvinho p {
    margin-bottom: 5px;
    margin-top: 8px;
}

#inforvinho2 {
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 65px;
   
}

div > h3 {
font-family: 'Lato';
font-size: 14px;
font-weight: 400px;

text-align: left;

}

/* Paragrafo */

p {
    font-size: 12px;
}

.format1 {
    color:#888888;
    line-height: 10px;
}

.format2 {
    font-size: 12px;
    line-height: 10px;
}

.format3 {
    color:#B6116E;
}


/* Paragrafos */

/* Estilização Botão(1) */

.grupobtn {
    width: 156px;
    height: 40px;
    background-color:#e20080;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 7px;
   

}

.grupobtn:hover {
    background-color: #87225d;
    cursor: pointer;
}
/* Estilização Botão(2) */
#grupobtn2 {
    background-color:#A0A0A0;
    width: 156px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px #00000026;
    margin-top: 10px;

    
}

#grupobtn2:hover {
    background-color: #6d6d6d;
    cursor: pointer;
}

/* Estilização Botão(2) */

@media screen and (min-width: 992px) {


}
    
